@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'TimesNewArial';
		src:
			url('/font/TimesNewArialGX.ttf') format('truetype-variations'),
			url('/font/TimesNewArialGX.woff') format('woff');
	}

	html,
	body {
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-family: 'TimesNewArial', sans-serif;
		font-variation-settings:
			'ital' 0,
			'srff' 0;
	}
}
