---
import BgImage from '@/components/BgImage.astro'
import '@/styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta
			name="description"
			content="Florian Kilian Jaritz is an architect and researcher based in Zurich, CH."
		/>
		<title>Florian Kilian Jaritz</title>

		<link
			rel="preload"
			as="font"
			type="font/ttf"
			href="/font/Lora-Italic-VariableFont_wght.ttf"
			crossorigin
		/>
		<link
			rel="preload"
			as="font"
			type="font/ttf"
			href="/font/Lora-VariableFont_wght.ttf"
			crossorigin
		/>
	</head>
	<body
		class="bg-[#c8c5cb] w-screen h-screen overflow-clip antialiased font-medium"
	>
		<BgImage />
		<main
			class="fixed inset-0 z-20 w-screen text-gray-200 p-4 flex flex-col items-center justify-center gap-1"
		>
			<h1
				class="text-lg bg-black text-white inline-block px-2 py-0.5 mb-12 uppercase italic leading-tight"
			>
				Florian Kilian Jaritz
			</h1>
			<p class="leading-tight bg-black text-white px-2 py-0.5 text-center">
				is an architect and researcher based in Zurich, CH.
			</p>
			<ul class="mt-6
				flex
				flex-col
				gap-0.5
				justify-center
				items-center">
				<li>
					<a
						title="Email of Florian Kilian Jaritz"
						href="mailto:mail@fkjaritz.com"
						class="bg-black text-white px-2 py-0.5"
					>
						mail@fkjaritz.com
					</a>
				</li>
				<li>
					<a
						href="https://www.instagram.com/floriankjaritz"
						title="Instagram of Florian Kilian Jaritz"
						class="bg-black text-white px-2 py-0.5"
					>
						@floriankjaritz
					</a>
				</li>
				<li>
					<a
						href="tel:+4901747892062"
						title="Phone number of Florian Kilian Jaritz"
						class="bg-black text-white px-2 py-0.5">+49 (0) 174 789 2062</a
					>
				</li>
			</ul>
		</main>
	</body>
</html>
