---

---

<figure>
	<video
		autoplay
		muted
		loop
		playsinline
		id="bgVideo"
		aria-label="Athmospheric background video of floading rocks below the ocean surface seen from below, from within the water"
		class="w-screen h-screen object-cover object-center opacity-0 transition-opacity grayscale-[0.75]"
	>
		<source
			src="/bg-video/re-gards-desktop.mp4"
			type="video/mp4"
			media="(min-width: 800px)"
		/>
		<source
			src="/bg-video/re-gards-desktop.webm"
			type="video/webm"
			media="(min-width: 800px)"
		/>
		<source
			src="/bg-video/re-gards-mobile.mp4"
			type="video/mp4"
			media="(max-width: 799px)"
		/>
		<source
			src="/bg-video/re-gards-mobile.webm"
			type="video/webm"
			media="(max-width: 799px)"
		/>
	</video>
	<figcaption
		class="fixed bottom-4 right-2 sm:right-4 text-gray-200 text-sm"
		style={{ writingMode: 'tb' }}
	>
		Animation: © Florian Kilian Jaritz, 2023
	</figcaption>
</figure>

<!-- OVERLAY -->
<div
	aria-hidden="true"
	class="fixed top-0 left-0 w-screen h-screen z-10 bg-black opacity-60 pointer-events-none"
>
</div>

<script>
	const bgVideo = document.getElementById('bgVideo') as HTMLVideoElement

	bgVideo.addEventListener('loadeddata', revealVideo)

	function playVideo() {
		bgVideo.muted = false
		bgVideo.play()
		revealVideo()
	}

	function revealVideo() {
		bgVideo.classList.remove('opacity-0')
		bgVideo.classList.add('opacity-100')
	}

	if (isSafariDesktop() || isIOS()) playVideo()

	function isIOS() {
		return (
			/iPad|iPhone|iPod/.test(navigator.userAgent) ||
			(navigator.platform === 'MacIntel' && navigator.maxTouchPoints > 1)
		)
	}
	function isSafariDesktop() {
		return (
			/^((?!chrome|android).)*safari/i.test(navigator.userAgent) && !isIOS()
		) // Excludes iOS devices
	}
</script>
