---

---

<footer
	class="fixed left-0 right-0 bottom-0 p-4 text-gray-200 flex md:justify-center z-20"
>
	<address class="flex flex-col md:text-center not-italic text-sm max-w-[75vw]">
		<a
			href="https://www.instagram.com/re_regards"
			target="_blank"
			rel="noreferrer nofollow"
			title="Twitter account"
			class="pb-2"
		>
			@re_regards
		</a>
		<a href="mailto:contact@re-gards.com" title="Email">contact@re-gards.com</a>
	</address>
</footer>
